<a href="https://colab.research.google.com/github/202121403/bmt_phyton/blob/main/21403_10%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
row=pd.date_range('20201113', periods=6)
col=list("ABCD")
dt=pd.DataFrame(np.random.randn(6,4), index=row, columns=col)

In [7]:
dt

                   A         B         C         D
2020-11-13 -0.185076 -0.126422  0.288845  0.263156
2020-11-14  0.303532 -0.308283  0.577762  2.161030
2020-11-15 -0.380134  0.393690  0.930328  1.991514
2020-11-16 -1.354960 -0.197195  1.990860 -0.697076
2020-11-17 -0.218689 -0.751777 -1.207210  0.101638
2020-11-18  1.781109 -0.171324  0.914347 -0.129864

In [13]:
s1 = pd.Series([1,2,3,4,5,6,],pd.date_range('20201113', periods=6))

In [21]:
df['F'] = s1

In [25]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['F'])

In [26]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [18]:
df2=df.copy

In [28]:
df

                   A         B         C         D  F
2020-11-13 -1.254466  0.999040 -0.129223  0.961542  1
2020-11-14 -0.651354 -0.080315  1.525911  0.445259  2
2020-11-15 -0.910997  1.173970 -0.293480  0.947282  3
2020-11-16  0.038697 -1.946078  1.267502  0.430814  4
2020-11-17  0.727355 -0.446383 -1.086158  1.883410  5
2020-11-18  1.672336  1.214795  0.240539 -0.923786  6

In [29]:
df.mean()

A   -0.063071
B    0.152505
C    0.254182
D    0.624087
F    3.500000
dtype: float64

In [32]:
df.mean(1)

2020-11-13    0.315378
2020-11-14    0.647900
2020-11-15    0.783355
2020-11-16    0.758187
2020-11-17    1.215645
2020-11-18    1.640777
Freq: D, dtype: float64

In [36]:
df.mean(0)

A   -0.063071
B    0.152505
C    0.254182
D    0.624087
F    3.500000
dtype: float64

In [38]:
df.apply(np.cumsum)

                   A         B         C         D   F
2020-11-13 -1.254466  0.999040 -0.129223  0.961542   1
2020-11-14 -1.905820  0.918725  1.396688  1.406801   3
2020-11-15 -2.816816  2.092695  1.103208  2.354083   6
2020-11-16 -2.778120  0.146617  2.370711  2.784897  10
2020-11-17 -2.050764 -0.299765  1.284553  4.668306  15
2020-11-18 -0.378429  0.915030  1.525092  3.744520  21

In [43]:
df.apply(np.cumsum, axis=1)

                   A         B         C         D         F
2020-11-13 -1.254466 -0.255426 -0.384650  0.576892  1.576892
2020-11-14 -0.651354 -0.731668  0.794243  1.239502  3.239502
2020-11-15 -0.910997  0.262974 -0.030506  0.916776  3.916776
2020-11-16  0.038697 -1.907381 -0.639879 -0.209065  3.790935
2020-11-17  0.727355  0.280973 -0.805185  1.078225  6.078225
2020-11-18  1.672336  2.887131  3.127670  2.203884  8.203884

In [44]:
print(df.apply(lambda x: x.max() - x.min()))

A    2.926802
B    3.160873
C    2.612069
D    2.807196
F    5.000000
dtype: float64

In [48]:
df.apply (lambda x:x.max() - x.min(),axis=1)

2020-11-13    2.254466
2020-11-14    2.651354
2020-11-15    3.910997
2020-11-16    5.946078
2020-11-17    6.086158
2020-11-18    6.923786
Freq: D, dtype: float64

In [49]:
df

                   A         B         C         D  F
2020-11-13 -1.254466  0.999040 -0.129223  0.961542  1
2020-11-14 -0.651354 -0.080315  1.525911  0.445259  2
2020-11-15 -0.910997  1.173970 -0.293480  0.947282  3
2020-11-16  0.038697 -1.946078  1.267502  0.430814  4
2020-11-17  0.727355 -0.446383 -1.086158  1.883410  5
2020-11-18  1.672336  1.214795  0.240539 -0.923786  6

In [58]:
s = pd.Series(np.random.randint(1, 7, size = 10))
s.value_counts()

6    3
2    3
5    2
4    1
1    1
dtype: int64

In [59]:
df = pd.DataFrame(np.random.randn(10,4))

In [60]:
df

          0         1         2         3
0  1.085013 -0.259649  0.571215  0.452931
1  1.140595  0.352015 -0.043437 -1.136815
2  0.679781 -0.922425 -0.190884  0.155769
3  0.990827 -0.782721  0.124018  0.601710
4 -1.348008 -0.179784 -0.842476 -0.830987
5 -0.637471  0.450382  1.364763 -1.116855
6 -1.669986 -0.633164  0.443229 -0.111182
7  1.427847  0.530746 -0.447779  0.071664
8 -1.162572  0.220415  0.028082 -0.966613
9 -0.839146  0.096597  0.138487 -0.504851

In [67]:
pieces = [ df[:3],df[3:7], df[7:] ]
pieces

[          0         1         2         3
 0  1.085013 -0.259649  0.571215  0.452931
 1  1.140595  0.352015 -0.043437 -1.136815
 2  0.679781 -0.922425 -0.190884  0.155769,
           0         1         2         3
 3  0.990827 -0.782721  0.124018  0.601710
 4 -1.348008 -0.179784 -0.842476 -0.830987
 5 -0.637471  0.450382  1.364763 -1.116855
 6 -1.669986 -0.633164  0.443229 -0.111182,
           0         1         2         3
 7  1.427847  0.530746 -0.447779  0.071664
 8 -1.162572  0.220415  0.028082 -0.966613
 9 -0.839146  0.096597  0.138487 -0.504851]

In [68]:
pd.concat(pieces)

          0         1         2         3
0  1.085013 -0.259649  0.571215  0.452931
1  1.140595  0.352015 -0.043437 -1.136815
2  0.679781 -0.922425 -0.190884  0.155769
3  0.990827 -0.782721  0.124018  0.601710
4 -1.348008 -0.179784 -0.842476 -0.830987
5 -0.637471  0.450382  1.364763 -1.116855
6 -1.669986 -0.633164  0.443229 -0.111182
7  1.427847  0.530746 -0.447779  0.071664
8 -1.162572  0.220415  0.028082 -0.966613
9 -0.839146  0.096597  0.138487 -0.504851

In [ ]:
left = pd.DataFrame(
    {
        'key' : ['foo', 'foo'],
        'lval': 2
    }
)

다 못쳐서 복붙한거 밑에다 씁니다. 선생님.,....

In [82]:
left = pd.DataFrame({'a':['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'a':['foo', 'foo'], 'rval': [4, 5]})

In [83]:
left

     a  lval
0  foo     1
1  foo     2

In [84]:
right

     a  rval
0  foo     4
1  foo     5

In [85]:
pd_merge = pd.merge(left, right, on = 'a')

In [86]:
pd_merge

     a  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [87]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    }
)

In [88]:
df

     A      B         C         D
0  foo    one -0.532673 -1.389981
1  bar    one  1.028183  0.445835
2  foo    two -1.129365 -0.136199
3  bar  three -1.055589  0.980651
4  foo    two -0.185227  1.403669
5  bar    two  0.495846  0.351798
6  foo    one  0.806721  2.091361
7  bar  three  2.142688  1.518092

In [93]:
a= df.groupby('B').sum()

In [94]:
a

              C         D
B
one    1.302231  1.147215
three  1.087099  2.498743
two   -0.818747  1.619269

In [97]:

x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)
x2, y2 = zip(*zip(x,y))
print(x2)
print(y2)

(1, 2, 3)
(4, 5, 6)

In [96]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [98]:
x2, y2 = zip(*zip(x,y))
print(x2)
print(y2)

(1, 2, 3)
(4, 5, 6)

In [99]:
a= df.groupby(['A','B']).sum()
a

                  C         D
A   B
bar one    1.028183  0.445835
    three  1.087099  2.498743
    two    0.495846  0.351798
foo one    0.274048  0.701380
    two   -1.314592  1.267471

In [100]:
df = pd.DataFrame(
    {
        'A' : ['one', 'one', 'two', 'three'] * 3,
        'B' : ['A', 'B', 'C'] * 4,
        'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar' ] * 2,
        'D' : np.random.randn(12),
        'E' : np.random.randn(12)
    }
)

In [101]:
df

        A  B    C         D         E
0     one  A  foo -0.661246 -0.450612
1     one  B  foo -0.915273 -0.403229
2     two  C  foo -1.032045 -0.705418
3   three  A  bar -0.151225 -0.131607
4     one  B  bar -0.119067 -1.180209
5     one  C  bar  1.174981  0.118982
6     two  A  foo -0.237323  0.271033
7   three  B  foo -0.441491 -0.847549
8     one  C  foo -0.169817  0.278855
9     one  A  bar -2.136084  0.063974
10    two  B  bar -1.378871  0.351687
11  three  C  bar -0.057659 -0.135067

In [102]:
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C'])

C             bar       foo
A     B
one   A -2.136084 -0.661246
      B -0.119067 -0.915273
      C  1.174981 -0.169817
three A -0.151225       NaN
      B       NaN -0.441491
      C -0.057659       NaN
two   A       NaN -0.237323
      B -1.378871       NaN
      C       NaN -1.032045