<a href="https://colab.research.google.com/github/202121403/bmt_phyton/blob/main/9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [6]:
type([])

list

In [7]:
type('afdsafd')

str

In [8]:
pd.date_range('20210430', periods=6)

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [10]:
dates = pd.date_range('20210430', periods=6)

In [11]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [17]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [19]:
df2 = pd.DataFrame(
     {
         'A' : 1.,
         'B' : pd.Timestamp('20210430'),  
         'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
         'D' : np.array([3] * 4, dtype= 'int32'),
         'E' : pd.Categorical(["test","train", "test", "train"]),
         'F' : 'foo'
     }     
)

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [21]:
type(df2)

pandas.core.frame.DataFrame

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
df.head()

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041

In [25]:
df.tail()

                   A        B         C        D
2021-05-05 -0.629019 -1.23263  0.586917  0.03006

In [26]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [28]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [30]:
df.values

array([[ 0.06276237, -1.64684434, -0.37296224,  1.54973228],
       [ 1.53841355,  1.16228002, -1.11499591,  1.79340016],
       [-0.29067121, -1.06393314,  0.29898288,  0.37822762],
       [-1.31467483, -1.2281117 , -1.88146526,  0.9738949 ],
       [-0.58495708, -1.12533766, -0.68220915,  0.98604085],
       [-0.6290188 , -1.23263025,  0.58691734,  0.03006048]])

In [31]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [35]:
df. T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.062762    1.538414   -0.290671   -1.314675   -0.584957   -0.629019
B   -1.646844    1.162280   -1.063933   -1.228112   -1.125338   -1.232630
C   -0.372962   -1.114996    0.298983   -1.881465   -0.682209    0.586917
D    1.549732    1.793400    0.378228    0.973895    0.986041    0.030060

In [36]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [38]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [39]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05 -0.629019 -1.232630  0.586917  0.030060
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-04-30  0.062762 -1.646844 -0.372962  1.549732

In [40]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [41]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-04-30  1.549732 -0.372962 -1.646844  0.062762
2021-05-01  1.793400 -1.114996  1.162280  1.538414
2021-05-02  0.378228  0.298983 -1.063933 -0.290671
2021-05-03  0.973895 -1.881465 -1.228112 -1.314675
2021-05-04  0.986041 -0.682209 -1.125338 -0.584957
2021-05-05  0.030060  0.586917 -1.232630 -0.629019

In [42]:
df.sort_values(by='B')

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-05 -0.629019 -1.232630  0.586917  0.030060
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-01  1.538414  1.162280 -1.114996  1.793400

In [43]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [45]:
df['A']

2021-04-30    0.062762
2021-05-01    1.538414
2021-05-02   -0.290671
2021-05-03   -1.314675
2021-05-04   -0.584957
2021-05-05   -0.629019
Freq: D, Name: A, dtype: float64

In [48]:
df['C']

2021-04-30   -0.372962
2021-05-01   -1.114996
2021-05-02    0.298983
2021-05-03   -1.881465
2021-05-04   -0.682209
2021-05-05    0.586917
Freq: D, Name: C, dtype: float64

In [52]:
df[ ['A', 'B', 'D'] ]

                   A         B         D
2021-04-30  0.062762 -1.646844  1.549732
2021-05-01  1.538414  1.162280  1.793400
2021-05-02 -0.290671 -1.063933  0.378228
2021-05-03 -1.314675 -1.228112  0.973895
2021-05-04 -0.584957 -1.125338  0.986041
2021-05-05 -0.629019 -1.232630  0.030060

In [53]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [54]:
df[0:1]

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732

In [55]:
df['20210430' : '20210501']

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400

In [57]:
df

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895
2021-05-04 -0.584957 -1.125338 -0.682209  0.986041
2021-05-05 -0.629019 -1.232630  0.586917  0.030060

In [58]:
df.loc[dates[0]]

A    0.062762
B   -1.646844
C   -0.372962
D    1.549732
Name: 2021-04-30 00:00:00, dtype: float64

In [61]:
df.loc['20210430', 'A']

0.0627623698381998

In [62]:
df.loc['20210430']

A    0.062762
B   -1.646844
C   -0.372962
D    1.549732
Name: 2021-04-30 00:00:00, dtype: float64

In [63]:
df['A']

2021-04-30    0.062762
2021-05-01    1.538414
2021-05-02   -0.290671
2021-05-03   -1.314675
2021-05-04   -0.584957
2021-05-05   -0.629019
Freq: D, Name: A, dtype: float64

In [64]:
df.loc[:,'A']

2021-04-30    0.062762
2021-05-01    1.538414
2021-05-02   -0.290671
2021-05-03   -1.314675
2021-05-04   -0.584957
2021-05-05   -0.629019
Freq: D, Name: A, dtype: float64

In [65]:
df.loc['20210430' : '20210503']

                   A         B         C         D
2021-04-30  0.062762 -1.646844 -0.372962  1.549732
2021-05-01  1.538414  1.162280 -1.114996  1.793400
2021-05-02 -0.290671 -1.063933  0.298983  0.378228
2021-05-03 -1.314675 -1.228112 -1.881465  0.973895

In [66]:
df.loc['20210430' : '20210503', ['A','B', 'C']]

                   A         B         C
2021-04-30  0.062762 -1.646844 -0.372962
2021-05-01  1.538414  1.162280 -1.114996
2021-05-02 -0.290671 -1.063933  0.298983
2021-05-03 -1.314675 -1.228112 -1.881465

In [67]:
df.iloc[3]

A   -1.314675
B   -1.228112
C   -1.881465
D    0.973895
Name: 2021-05-03 00:00:00, dtype: float64

In [68]:
df.at[dates]

ValueError: ignored

In [71]:
 df.iloc[0:3,2:4]

                   C         D
2021-04-30 -0.372962  1.549732
2021-05-01 -1.114996  1.793400
2021-05-02  0.298983  0.378228

In [72]:
df.A

2021-04-30    0.062762
2021-05-01    1.538414
2021-05-02   -0.290671
2021-05-03   -1.314675
2021-05-04   -0.584957
2021-05-05   -0.629019
Freq: D, Name: A, dtype: float64

In [73]:
df.A>0

2021-04-30     True
2021-05-01     True
2021-05-02    False
2021-05-03    False
2021-05-04    False
2021-05-05    False
Freq: D, Name: A, dtype: bool

In [78]:
df[ df.A> 0 ]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [79]:
df [df > 0]

             A        B         C         D
2021-04-30 NaN      NaN       NaN  1.549732
2021-05-01 NaN  1.16228       NaN  1.793400
2021-05-02 NaN      NaN  0.298983  0.378228
2021-05-03 NaN      NaN       NaN  0.973895
2021-05-04 NaN      NaN       NaN  0.986041
2021-05-05 NaN      NaN  0.586917  0.030060